*{
    margin: 0px;
    padding: 0px;
}

:root{
    --color:#565352;

}

header{
    text-align: center;
    background-color: black;
    color: white;
    height: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}

#navbar{
    background-color: var(--color);
    display: flex;
    flex-direction: row;
    color: white;
    height: 76px;
}

#logo img{
    width: 115px;
    height: 104px;
    margin: 3px 14px;
    position: absolute;
    top: 2px;
}

#navbar ul{
    display: flex;
    position: relative;
    left: 140px;
    width: 60vw;
}

#navbar li{
    list-style: none;
    margin: auto 19px;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
       
}

#navbar input{
    width: 34vw;
    height: 33px;
    position: absolute;
    right: 37px;
    top: 60px;
    border-radius: 8px;
    padding: 0px 4px;
    font-size: 17px;
    border: 3px solid black;
}

#search{
    position: absolute;
    right: 44px;
    width: 31px;
    height: 31px;
    top: 63px;
}

main{
    height: 80vh;
}

#sec1{
    background: url('images/4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */
    height: 70vh;
    width: 98vw;
    margin: auto;
    opacity: 0.9;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: bold;
    color: #fbfdfd;
    
}

#mainbox{
    width: 45vw;
    height:70vh;
    position: absolute;
    top: 150px;
    left: 60px;
    z-index: 2;
}

#mainbox h1{
    margin: 20px 0px;
    text-decoration: underline;
    font-size: 3rem;
}

.btn{
    width: 150px;
    height: 40px;
    font-size: 1.5rem;
    border: 3px solid white;
    border-radius: 15px;
    margin: 30px auto;
    font-weight: bold;
    cursor: pointer;
    background-color: black;
    color: white;
}


.btn:hover{
    background-color: red;
    color: black;
    border: 3px solid black;
}

#sec2{
    /* background-color: red; */
    height: 60vh;
    width: 98vw;
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px auto;
}
section + h2{
    text-align: center;
    font-family:  'Times New Roman', Times, serif;
    font-size: 3rem;
    margin: 40px 0px 10px 0px;
}

.mainbox2{
    height: 55vh;
    width: 35vw;
    background-color: rgb(247 223 223);
    border: 4px solid #9c1414;
    margin: 10px 60px 10px 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mainbox2 img{
    height: 129px;
    width: 146px;
    margin: 25px 0px 21px 0px;
}

.mainbox2 h3{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    margin: 0px 0px 15px 0px;

}

.mainbox2 p{
    margin: 10px 10px;
    font-size: 1.3rem;
}

#sec3{
    background-color: #131615;
    color: white;
    margin: 50px auto;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;


}

#sec3 img{
    width: 250px;
    height: 200px;
    margin: 30px 35px;
    position: relative;
    top: 12px;
    left: 15px;
}

#sec3,h2{
    text-align: center;
    font-family:  'Times New Roman', Times, serif;
    font-size: 3rem;
    margin: 40px 0px 10px 0px;
}

#sec4{
    background: url("images/contact.jpg");
    height: 70vh;
    width: 98vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}
#sec4 h2{
    text-align: center;
    font-family:  'Times New Roman', Times, serif;
    font-size: 3.5rem;
    margin: 5px 0px 40px 0px;
}


.form input{
    width: 37vw;
    height: 3vh;
    margin: 10px 0px;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 10px;
    border-radius: 12px;
    border: 3px solid black;

}

.form textarea{
    margin: 10px 2px;
    border-radius: 12px;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    width: 37vw;
    height: 17vh;
    padding: 5px 5px;
    border: 3px solid black;
}

#sec4 input[type="submit"]{
    width: 70px;
    height: 30px;
    background-color: white;
    position: relative;
    bottom: -5px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;

}

#sec4 input[type="submit"]:hover{
    background-color: red;
    cursor: pointer;
}




footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 60px;
    width: 100vw;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    bottom: -180vh;
    padding: 10px 0px;
    
}

